.input-title::-webkit-input-placeholder {
  font-weight: bold;
}

.input-title:-moz-placeholder {
  font-weight: bold;
}

.input-title::-moz-placeholder {
  font-weight: bold;
}

.input-title:-ms-input-placeholder {
  font-weight: bold;
}
